<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
    <header th:replace="plantilla/template :: header"></header>

    <div class="container">
        <h1 th:text="${titulo}"></h1>
    </div>

<!--    <label th:text="${languages}"></label>&ndash;&gt;-->

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID de aeropuerto</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="language:${languages}">
                    <td th:text="${language.id_languages}"></td>
                    <td th:text="${language.code}"></td>
                    <td th:text="${language.name}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>