<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8">
<title>CRUD</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/signin.css}">
</head>
<body>

	<!-- BARRA DE NAVEGACION -->
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" th:href="@{/home}">
					<strong>Mi proyecto</strong>
				</a>
			</div>
		</nav>
	</header>

	<!-- CONTENIDO -->
	<div class="container"></div>


	<!-- PIE DE PAGINA -->
	<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
		<div class="container">
			<p>Curso</p>
		</div>
	</footer>

</body>
</html>